{
  "extends": [
    "standard",
    "next"
  ],
  "globals": {
    "fetch": "readonly"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "multiline-block-like"
      },
      {
        "blankLine": "always",
        "prev": "multiline-block-like",
        "next": "*"
      }
    ],
    "@next/next/no-img-element": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "import/no-anonymous-default-export": "off",
    "jsx-a11y/alt-text": "off",
    "react/display-name": "off",
    "react/jsx-handler-names": "off"
  }
}
